.container {
    margin-top: 8%;
    padding-bottom: 3%;
    background-color: #dcdcdc6e;
    backdrop-filter: blur(8px);
    border: 0;
    border-style: solid;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 20px 5px black;
}

.wrap {
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.search {
    height: 30%;
}
  
.searchTerm {
    width: 45vh;
    height: 6vh;
    border: 3px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: papayawhip;
}

.searchTerm:hover {
    cursor: text !important;
}
  
.searchButton {
    width: 8vh;
    height: 6vh;
    border: 3px solid black;
    background: lightsteelblue;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa {
    width: 7vh;
    height: 4vh;
}

.menuOpciones {
    margin-left: 10%;
}

.botonAvisosEntrantes {
    border-radius: 5px;
    padding: 0.25%;
    color: black;
    background-color: silver;
}

.botonAvisosEntrantes:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

.botonMisAvisos {
    border-radius: 5px;
    padding: 0.25%;
    color: black;
    background-color: silver;
}

.botonMisAvisos:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

.botonHistorialAvisos {
    border-radius: 5px;
    padding: 0.5%;
    color: black;
    font-weight: bold;
    background-color: silver;
}

.botonHistorialAvisos:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

.botonGestionUsuarios {
    border-radius: 5px;
    padding: 0.25%;
    color: black;
    background-color: silver;
}

.botonGestionUsuarios:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

/* inicio css para la tabla tec3 */
.tablaTec3 {
    background-color: thistle !important;
    border-radius: 10px !important;
    margin: 0 auto !important;
    margin-top: 1.5% !important;
    width: 80% !important;
}

.tablaTec3 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.tablaTec3 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.cabecera {
    background-color: midnightblue;
    color: white;
    text-align: center;
    font-weight: bold !important;
}

th {
    padding: 1%;
    border-right: gainsboro 2px solid !important;
    border-left: gainsboro 2px solid !important;
}

.tablaTec3 tr:first-child th:first-child {
    border-left: none !important;
}

.tablaTec3 tr:first-child th:last-child {
    border-right: none !important;
}

td {
    padding: 1%;
}

.tipos {
    border-right: gainsboro 2px solid !important;
    text-align: center;
    width: 15vh;
}

.fechas {
    border-right: gainsboro 2px solid !important;
    text-align: center;
    width: 20vh;
}

.acciones {
    border-left: gainsboro 2px solid !important;
    text-align: center;
    width: 25vh;
}

.clickModalVisualizar:hover {
    filter:drop-shadow(1px 1px 3px darkcyan);
}
/* fin css para la tabla tec3 */

.pildora {
    background-image: linear-gradient(to left, BlueViolet, darkblue) !important;
    color: beige !important;
}

.comunicacionesModal {
    background-color: lightcyan !important;
    color: black !important;
    border-radius: 5px !important;
    padding-left: 1.5% !important;
    padding: 0.5% !important;
    margin-top: 1% !important;
    margin-bottom: 1% !important;
}

.perfilModal {
    background-color: lightcyan !important;
    color: black !important;
    border-radius: 5px !important;
    padding-left: 1.5% !important;
    padding: 0.5% !important;
    margin-bottom: 1% !important;
}

.observacionesModal {
    background-color: lightcyan !important;
    color: black !important;
    border-radius: 5px !important;
    padding-left: 1.5% !important;
    padding: 0.5% !important;
    margin-bottom: 1% !important;
}

.contenidoObservacion {
    border-radius: 5px !important;
    margin-left: 5% !important;
    margin-right: 2% !important;
    margin-bottom: 1% !important;
}

.comentariosModal {
    background-color: lightcyan !important;
    color: black !important;
    border-radius: 5px !important;
    padding-left: 1.5%!important;
    padding: 0.5% !important;
    margin-bottom: 1% !important;
}

.contenidoComentario {
    border-radius: 5px !important;
    margin-left: 5% !important;
    margin-right: 2% !important;
    margin-bottom: 1% !important;
}

.SubtituloCategoria{
    margin-left: 4.75% !important;
}