.container {
    margin-top: 8%;
    padding-bottom: 3%;
    background-color: #dcdcdc6e;
    backdrop-filter: blur(8px);
    border: 0;
    border-style: solid;
    border-radius: 10px;
    color: black;
    box-shadow: 0 0 20px 5px black;
}

.wrap {
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 4%;
}

.search {
    height: 30%;
}
  
.searchTerm {
    width: 45vh;
    height: 6vh;
    border: 3px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    background-color: papayawhip;
}
  
.searchButton {
    width: 8vh;
    height: 6vh;
    border: 3px solid black;
    background: lightsteelblue;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-left: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lupa {
    width: 7vh;
    height: 4vh;
}

.menuOpciones {
    margin-left: 10%;
}

.botonAvisosEntrantes {
    border-radius: 5px;
    padding: 0.25%;
    color: black;
    background-color: silver;
}

.botonAvisosEntrantes:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

.botonMisAvisos {
    border-radius: 5px;
    padding: 0.25%;
    color: black;
    background-color: silver;
}

.botonMisAvisos:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

.botonHistorialAvisos {
    border-radius: 5px;
    padding: 0.25%;
    color: black;
    background-color: silver;
}

.botonHistorialAvisos:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

.botonGestionUsuarios {
    border-radius: 5px;
    padding: 0.5%;
    color: black;
    font-weight: bold;
    background-color: silver;
}

.botonGestionUsuarios:hover {
    border-radius: 5px;
    padding: 0.5%;
    color: white;
    background-color: slategray;
}

/* inicio css para la tabla tec4 */
.tablaTec4 {
    background-color: thistle !important;
    border-radius: 10px !important;
    margin: 0 auto !important;
    margin-top: 1.5% !important;
    width: 80% !important;
}

.tablaTec4 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

.tablaTec4 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}

.cabecera {
    background-color: midnightblue;
    color: white;
    text-align: center;
    font-weight: bold !important;
}

th {
    padding: 1%;
    border-right: gainsboro 2px solid !important;
    border-left: gainsboro 2px solid !important;
}

.tablaTec4 tr:first-child th:first-child {
    border-left: none !important;
}

.tablaTec4 tr:first-child th:last-child {
    border-right: none !important;
}

td {
    padding: 1%;
}

.fechas {
    border-right: gainsboro 2px solid !important;
    text-align: center;
    width: 20vh;
}

.nombres {
    border-right: gainsboro 2px solid !important;
    border-left: gainsboro 2px solid !important;
    text-align: center;
}

.roles {
    border-left: gainsboro 2px solid !important;
    text-align: center;
    width: 25vh;
}

.acciones {
    border-left: gainsboro 2px solid !important;
    text-align: center;
    width: 20vh;
}

.clickModalVisualizar:hover {
    filter:drop-shadow(1px 1px 3px darkcyan);
}

/* fin css para la tabla tec2 */

.btnCancelarBorrado {
    background-color: crimson!important;
    color: white !important;
}

.btnCancelarBorrado:hover {
    background-color: lightcoral !important;
    color: black !important;
}

.btnEliminarUsuario {
    background-color: dodgerblue !important;
    color: white !important;
}

.btnEliminarUsuario:hover {
    background-color: skyblue !important;
    color: black !important;
}

.btnEntendido {
    background-color: darkcyan !important;
    color: white !important;
}

.btnEntendido:hover {
    background-color: paleturquoise !important;
    color: black !important;
}
