body {
    background-image: url("../images/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.row {
    color: white;
    box-shadow: 1px 15px 15px darkgrey;
    margin: 0 auto;
}

.nombreUsuario {
    font-size: 20px;
}

.fotoPerfil {
    padding: 1%;
    background-color: white;
}

.fotoPerfil:hover {
    box-shadow: 0 0 0 3px lightseagreen;
}   

img, .dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    border:0;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    color: white;
    background-color: crimson;
    border:0;
}

.dropdown-toggle {
    background-color: transparent;
    color: white;
    border: 0;
}

.dropdown-toggle:hover {
    background-color: transparent;
    color: white;
    border: 0; 
}