body {
    background: url("./Recursos/FondoEstadio.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.LogoAndText {
    background-color: beige;
}

.LogoImg {
    background-color: aqua;

}

.LogoText {
    margin-left: auto;
    margin-right: auto;
    background-color: blueviolet;
}

.userSession {
    width: 17%;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: right;
    background-color: red;
}

.LogoUser {
    background-color: yellow;
}

.NameUserOutSession {
    background-color: green;
}

.NameUser {
    color: white;
    background-color: blue;
}

.OutSession {
    background-color: brown;
}

/*-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.PrincipalTitle {
    background-color: red;
    margin-bottom: 1%;
}

