body {
    background: url("./Recursos/Fondo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.LogoAndText {
    /* background-color: beige; */
    display: flex;
    align-items: center;
}

.LogoImg {
    /* background-color: aqua; */

}

.LogoText {
    margin-left: 3%;
    /* background-color: blueviolet; */
}

.userSession {
    width: 17%;
    text-align: center;
    margin: 5px;
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: red; */
}

.LogoUser {
    /* background-color: yellow; */
}

.NameUserOutSession {
    /* background-color: green; */
}

.NameUser {
    color: white;
    padding-bottom: 1%;
    /* background-color: blue; */
}

.NavButton {
    background-color: transparent;
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    padding: 7px;
}

.NavButton:hover {
    color: white ;
    background-color: #0b496d;
}

.OutSession {
    color: white;
    /* background-color: brown; */
}

/*-- ------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.PrincipalTitle {
    /* background-color: red; */
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}

.PrincipalBlock {
    /* background-color: teal; */
    width: 50em;
}

.PrincipalBlock ul {
    padding-inline-start: 0%;
    list-style-type: none;
    /* border-style: solid; */
    /* border-color: black; */
    background-color: lightgrey;
    opacity: 0.7;
    border-radius: 7px;
}

.PrincipalBlock li#TaskToDo {
    text-decoration: none;
    /* border-style: solid; */
    /* border-color: greenyellow; */
    padding-left: 1.5%;
    display: flex;
    justify-content: space-between;
}

.PrincipalBlock li#TaskDone {
    text-decoration: line-through;
    padding-left: 1.5%;
    /* border-style: solid; */
    /* border-color: red; */
}

li {
    background-color: lightsteelblue;
    border-radius: 7px;
    margin-bottom: 2%;
    height: 3em;
}

.ButtonFinalize {
    padding: 5px;
    color: white;
    background-color: deepskyblue;
    border: 4px solid midnightblue;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    margin-right: 2%;
}

.ButtonFinalize:hover{
    color: white;
    border-color: magenta;
    background-color: darkviolet;
}

.FinalButtonsSection {
    /* background-color: aqua; */
    padding-left: 2%;
    padding-right: 2%;
}

.ButtonDeleteTask {
    padding: 5px;
    color: lightcoral;
    background-color: red;
    border-radius: 6px;
    border: 2px solid white;
}

.ButtonDeleteTask:hover{
    color: #1883ba;
    background-color: white;
}

.ButtonAddTask {
    padding: 5px;
    color: lightgreen;
    background-color: green;
    border-radius: 6px;
    border: 2px solid white;
}

.ButtonAddTask:hover{
    color: #1883ba;
    background-color: white;
}