<html>
    <head>
        <link rel="stylesheet" href="stylesheets/btnNuevoAviso.css" media="screen">
    </head>

    <!-- Modal para nuevo aviso -->
    <div class="modal fade" id="modalNuevoAviso">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- cabecera del di치logo -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <img src="images/aniadirAviso.svg" alt=""width="25" height="25" class="mb-2">
                        Nuevo aviso
                    </h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form method="POST" action="post_nuevo_aviso.html" title="Formulario para ingresar aviso">
                    <!-- cuerpo del di치logo -->
                    <div class="modal-body">
                        <div class="comunicacionesModal">
                            <h5>游댳<strong> Seleccione un tipo de aviso:</strong></h5>
                            <div class="d-flex justify-content-between ms-5 me-5 mb-2">
                                <div class="animacionRadioBtn">
                                    <input type="radio" name="tipoAviso" value="Sugerencia" id="optSug" onChange="seleccionSelect(this)">
                                    <label for="optSug" class="sugerencia">Sugerencia</label>
                                    <label for="optSug">
                                        <img src="images/pregunta.png" alt=""width="25" height="25">
                                    </label>
                                </div>
                                <div class="animacionRadioBtn">
                                    <input type="radio" name="tipoAviso" value="Incidencia" id="optInc" onChange="seleccionSelect(this)">
                                    <label for="optInc" class="incidencia">Incidencia</label>
                                    <label for="optInc">
                                        <img src="images/exclamacion.png" alt=""width="25" height="25">
                                    </label>
                                </div>
                                <div class="animacionRadioBtn">
                                    <input type="radio" name="tipoAviso" value="Felicitaci칩n" id="optFel" onChange="seleccionSelect(this)">
                                    <label for="optFel" class="felicitaci칩n">Felicitaci칩n</label>
                                    <label for="optFel">
                                        <img src="images/ok.png" alt=""width="25" height="25">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <%- include("switchAvisoRol") %>
                        <div class="comentarioNuevoAvisoModal mt-2">
                            <h5>游댲<strong> Comentario del aviso:</strong></h5>
                            <div class="contenidoNuevoAviso col-auto">
                                <textarea name="observacionUsuario" class="form-control textoTecnico" rows="4" placeholder="Escriba una respuesta al aviso..."></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- pie del di치logo -->
                    <div class="modal-footer borrarborde">
                        <button type="button" class="btn btnCancelarNuevoAviso" data-bs-dismiss="modal">Cancelar</button>
                        <input type="submit" class="btn btnNuevoAviso" title="Enviar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function seleccionSelect(sel) {
            if (sel.value=="Sugerencia"){
                divT = document.getElementById("divSelectsSugOculto");
                divT.style.display = "";

                divC = document.getElementById("divNormalModal");
                divC.style.display="none";
                divC = document.getElementById("divSelectsIncOculto");
                divC.style.display="none";
                divC = document.getElementById("divSelectsFelOculto");
                divC.style.display="none";
                divC = document.getElementById("divSubSelects");
                divC.style.display="none";
            }
            else if (sel.value=="Incidencia") {
                divT = document.getElementById("divSelectsIncOculto");
                divT.style.display = "";

                divC = document.getElementById("divNormalModal");
                divC.style.display="none";
                divC = document.getElementById("divSelectsSugOculto");
                divC.style.display="none";
                divC = document.getElementById("divSelectsFelOculto");
                divC.style.display="none";
                divC = document.getElementById("divSubSelects");
                divC.style.display="none";
            }
            else if (sel.value=="Felicitacion") {
                divT = document.getElementById("divSelectsFelOculto");
                divT.style.display = "";

                divC = document.getElementById("divNormalModal");
                divC.style.display="none";
                divC = document.getElementById("divSelectsSugOculto");
                divC.style.display="none";
                divC = document.getElementById("divSelectsIncOculto");
                divC.style.display="none";
                divC = document.getElementById("divSubSelects");
                divC.style.display="none";
            }
        }    
    </script>

</html>