<html>
    <head>
        <link rel="stylesheet" href="stylesheets/btnNuevoAviso.css" media="screen">

    </head>

    <!-- Modal para nuevo aviso -->
    <div class="modal fade" id="modalNuevoAviso">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- cabecera del di치logo -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <img src="images/aniadirAviso.svg" alt=""width="25" height="25" class="mb-2">
                        Nuevo aviso
                    </h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>

                <!-- cuerpo del di치logo -->
                <div class="modal-body">
                    <div class="comunicacionesModal">
                        <h5>游댳<strong> Seleccione un tipo de aviso:</strong></h5>
                        <div class="d-flex justify-content-between ms-5 me-5 mb-2">
                            <div class="animacionRadioBtn">
                                <input type="radio" name="opcionesAviso" value="Sugerencia" id="opt1">
                                <label for="opt1">Sugerencia</label>
                                <img src="images/pregunta.png" alt=""width="25" height="25">
                            </div>
                            <div class="animacionRadioBtn">
                                <input type="radio" name="opcionesAviso" value="Incidencia" id="opt2">
                                <label for="opt2">Incidencia
                                <img src="images/exclamacion.png" alt=""width="25" height="25">
                            </div>
                            <div class="animacionRadioBtn">
                                <input type="radio" name="opcionesAviso" value="Felicitacion" id="opt3">
                                <label for="opt3">Felicitaci칩n</label>
                                <img src="images/ok.png" alt=""width="25" height="25">
                            </div>
                        </div>
                    </div>
                    
                    <div class="comentarioNuevoAvisoModal">
                        <h5>游댲<strong> Comentario del aviso:</strong></h5>
                        <div class="contenidoNuevoAviso col-auto">
                            <textarea name="commentTec" class="form-control textoTecnico" rows="4" placeholder="Escriba una respuesta al aviso..."></textarea>
                        </div>
                    </div>
                </div>

                 <!-- pie del di치logo -->
                 <div class="modal-footer borrarborde">
                    <button type="button" class="btn btnCancelarNuevoAviso" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btnNuevoAviso" data-bs-dismiss="modal">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</html>