<html>
    <head>
        <link rel="stylesheet" href="stylesheets/btnNuevoAviso.css" media="screen">

    </head>

    <!-- Modal para nuevo aviso -->
    <div class="modal fade" id="modalNuevoAviso">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <!-- cabecera del di谩logo -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        <img src="images/aniadirAviso.svg" alt=""width="25" height="25" class="mb-2">
                        Nuevo aviso
                    </h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                </div>
                <form>
                    <!-- cuerpo del di谩logo -->
                <div class="modal-body">
                    <div class="comunicacionesModal">
                        <h5><strong> Seleccione un tipo de aviso:</strong></h5>
                        <div class="d-flex justify-content-between ms-5 me-5 mb-2">
                            <div class="animacionRadioBtn">
                                <input type="radio" name="tipoAviso" value="Sugerencia" id="opt1" onChange="seleccionSelect(this)">
                                <label for="opt1" class="sugerencia">Sugerencia</label>
                                <label for="opt1">
                                    <img src="images/pregunta.png" alt=""width="25" height="25">
                                </label>
                            </div>
                            <div class="animacionRadioBtn">
                                <input type="radio" name="tipoAviso" value="Incidencia" id="opt2" onChange="seleccionSelect(this)">
                                <label for="opt2" class="incidencia">Incidencia</label>
                                <label for="opt2">
                                    <img src="images/exclamacion.png" alt=""width="25" height="25">
                                </label>
                            </div>
                            <div class="animacionRadioBtn">
                                <input type="radio" name="tipoAviso" value="Felicitacion" id="opt3" onChange="seleccionSelect(this)">
                                <label for="opt3" class="felicitaci贸n">Felicitaci贸n</label>
                                <label for="opt3">
                                    <img src="images/ok.png" alt=""width="25" height="25">
                                </label>
                            </div>
                        </div>
                    </div>

                    <section id="divNormalModal" style="display:none;"></section>
                    <div class="selectsModal" id="divSelectsSugOculto" style="display:none;">
                        <h5><strong> Seleccione el tipo de sugerencia:</strong></h5>
                        <%- include("switchAvisoRol") %>
                    </div>

                    <section id="divNormalModal" style="display:none;"></section>
                    <div class="selectsModal" id="divSelectsIncOculto" style="display:none;">
                        <h5><strong> Seleccione el tipo de incidencia:</strong></h5>
                        <%- include("switchAvisoRol") %>
                    </div>

                    <section id="divNormalModal" style="display:none;"></section>
                    <div class="selectsModal" id="divSelectsFelOculto" style="display:none;">
                        <h5><strong> Seleccione un departamento para felicitar:</strong></h5>
                        <div class="perfilAlumno text-center mb-2">
                            <select name="opcionesAlumno" required="true">
                                <option value="opt0" hidden selected>Seleccione uno...</option>
                                <option value="">Archivo Universitario</option>
                                <option value="">Asesor铆a Jur铆dica</option>
                                <option value="">Biblioteca</option>
                                <option value="">Centro de Informaci贸n</option>
                                <option value="">Departamentos docentes</option>
                                <option value="">Inspecci贸n de Servicios</option>
                                <option value="">Oficina de Gesti贸n de Infraestructuras y Mantenimiento</option>
                                <option value="">Servicio de Administraci贸n</option>
                                <option value="">Servicios Inform谩ticos</option>
                                <option value="">Servicio de Documentaci贸n</option>
                                <option value="">Servicio de Imprenta</option>
                                <option value="">Servicio de Cafeter铆a</option>
                                <option value="">Toda la Universidad</option>
                            </select> 
                        </div>
                    </div>
                    
                    <div class="comentarioNuevoAvisoModal">
                        <h5><strong> Comentario del aviso:</strong></h5>
                        <div class="contenidoNuevoAviso col-auto">
                            <textarea name="commentTec" class="form-control textoTecnico" rows="4" placeholder="Escriba una respuesta al aviso..."></textarea>
                        </div>
                    </div>
                </div>

                 <!-- pie del di谩logo -->
                 <div class="modal-footer borrarborde">
                    <button type="button" class="btn btnCancelarNuevoAviso" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit"  class="btn btnNuevoAviso" data-bs-dismiss="modal">Enviar</button>
                </div>

                </form>
                
            </div>
        </div>
    </div>

    <script>
        function seleccionSelect(sel) {
            if (sel.value=="Sugerencia"){
                divT = document.getElementById("divSelectsSugOculto");
                divT.style.display = "";

                divC = document.getElementById("divNormalModal");
                divC.style.display="none";
                divC = document.getElementById("divSelectsIncOculto");
                divC.style.display="none";
                divC = document.getElementById("divSelectsFelOculto");
                divC.style.display="none";

            }
            else if (sel.value=="Incidencia") {
                divT = document.getElementById("divSelectsIncOculto");
                divT.style.display = "";

                divC = document.getElementById("divNormalModal");
                divC.style.display="none";
                divC = document.getElementById("divSelectsSugOculto");
                divC.style.display="none";
                divC = document.getElementById("divSelectsFelOculto");
                divC.style.display="none";
            }
            else if (sel.value=="Felicitacion") {
                divT = document.getElementById("divSelectsFelOculto");
                divT.style.display = "";

                divC = document.getElementById("divNormalModal");
                divC.style.display="none";
                divC = document.getElementById("divSelectsSugOculto");
                divC.style.display="none";
                divC = document.getElementById("divSelectsIncOculto");
                divC.style.display="none";
            }
        }    
        
        
    </script>

</html>