  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <% let msg = getAndClearFlash();
        if (msg) {%>
            <div class="flash">
                <%= msg %>
            </div>
        <% }%>
