<div class="modal fade" id="modalBorrarAviso">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- cabecera del di치logo -->
            <div class="modal-header">
                <h4 id="creadoPorModalAvisoBorrar" class="modal-title"><%=nameUser %></h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <!-- cuerpo del di치logo -->
            <div class="modal-body">
                <div class="subEncabezadoModal d-flex justify-content-between">
                    <div><h5>Fecha: <label id="fechaAvisoModalBorrar"> </label></h5></div>
                    <div><h5>Aviso n췈<i id="idAvisoModalBorrar"></i>: <label class="badge rounded-pill pildora" id="tipoAvisoModalBorrar"></label></h5></div>
                </div>
                <div class="comunicacionesModal">
                    <h5>游댳 <strong id="subtipoAvisoModalBorrar"></strong>: <span id="categoriaAvisoModalBorrar"></span></h5>
                </div>
                <div class="perfilModal"><h5>游댳<strong> Perfil: </strong><%=rol %></h5></div>
                <div class="observacionesModal">
                    <h5>游댳<strong> Observaciones:</strong></h5>
                    <div class="contenidoObservacion" id="observacionesAvisoModalBorrar"></div>
                </div>
                <div class="comentariosModal" id="eliminarAvisoModal">
                    <h5>游댲<strong> Comentario del T칠cnico para la anulaci칩n:</strong></h5>
                    <div class="contenidoComentario col-auto">
                        <textarea id="comentarioBorrarAviso" name="commentTec" class="form-control commentTec" rows="4" placeholder="Escriba una comentario para anulaci칩n..."></textarea>
                    </div>
                    <div class="text-end me-3">
                        <button type="submit" id="btnActivo" class="btnFinAviso">Finalizar Aviso</button>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>