<div class="modal fade" id="modalAvisos">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- cabecera del diálogo -->
            <div class="modal-header">
                <h4 id="creadoPorModalAviso" class="modal-title"><%=nameUser %></h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <!-- cuerpo del diálogo -->
            <div class="modal-body">
                <div class="subEncabezadoModal d-flex justify-content-between">
                    <div><h5>Fecha: <label id="fechaAvisoModal"> </label></h5></div>
                    <div><h5>Aviso nº<i id="idAvisoModal"></i>: <label class="badge rounded-pill pildora" id="tipoAvisoModal">Sugerencia</label></h5></div>
                </div>
                <div class="comunicacionesModal">
                    <h5>🔹 <strong id="subtipoAvisoModal" style="display: none;"></strong>: <span id="categoriaAvisoModal"></span></h5>
                </div>
                <div class="perfilModal"><h5>🔹<strong> Perfil: </strong><%=rol %></h5></div>
                <div class="observacionesModal">
                    <h5>🔹<strong> Observaciones:</strong></h5>
                    <div class="contenidoObservacion" id="observacionesAvisoModal"></div>
                </div>
                <div class="comentariosModal">
                    <h5>🔸<strong> Comentarios del Técnico:</strong></h5>
                    <div class="contenidoComentario" id="comentarioAvisoModal"></div>
                </div>    
            </div>
        </div>
    </div>
</div>