<div class="modal fade" id="modalUsuariosEncontrados">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <!-- cabecera del diálogo -->
            <div class="modal-header">
                <h3 id="creadoPorModalAvisoBorrar" class="modal-title">Usuarios encontrados</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <!-- cuerpo del diálogo -->
            <div>
                <h6 id ="nombreFindModal"></h6>
            </div>
        </div>
    </div>
</div>