<div class="modal fade" id="modalBorrarAviso">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <!-- cabecera del di谩logo -->
            <div class="modal-header">
                <h4 id="creadoPorModalAvisoBorrar" class="modal-title"><%=nameUser %></h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <!-- cuerpo del di谩logo -->
            <div class="modal-body">
                <div class="subEncabezadoModal d-flex justify-content-between">
                    <div><span>Fecha:</span> <h5 id="fechaAvisoModalBorrar"> 12/10/2021</h5></div>
                    <div>
                        <h5>
                            Aviso n潞<i id="idAvisoModalBorrar">202101020001</i>:
                            <label class="badge rounded-pill pildoraFelicitacion" id="tipoAvisoModalBorrar">
                                Felicitaci贸n
                            </label>
                        </h5>
                    </div>
                </div>
                <div class="comunicacionesModal"><span><strong id="subtipoAvisoModalBorrar" style="display: none;"> Comunicaciones: </strong></span><h5  id="categoriaAvisoModalBorrar" >Correo electr贸nico</h5></div>
                <div class="perfilModal"><h4><strong> Perfil: </strong><%=rol %></h4></div>
                <div class="observacionesModal">
                    <h4><strong> Observaciones:</strong></h4>
                    <div class="contenidoObservacion" id="observacionesAvisoModalBorrar">
                        He solicitado una nueva cuenta de correo electr贸nico para mi departamento pero no he recibido todav铆a ninguna respuesta. Por favor es urgente que dispongamos de esa cuenta gen茅rica lo antes posible ya que en breve celebraremos el II Congreso de ciberseguridad y necesitamos esa cuenta para centralizar peticiones. Muchas Gracias.
                    </div>
                </div>
                <div class="comentariosModal" id="eliminarAvisoModal">
                    <h5><strong> Comentario del T茅cnico para la anulaci贸n:</strong></h5>
                    <div class="contenidoComentario col-auto">
                        <textarea id="comentarioBorrarAviso" name="commentTec" class="form-control commentTec" rows="4" placeholder="Escriba una comentario para anulaci贸n..."></textarea>
                    </div>
                    <div class="text-end me-3">
                        <button type="submit" id="btnActivo" class="btnFinAviso">Finalizar Aviso</button>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>