<!DOCTYPE html>
<html lang="en">
    <body>
        <nav class="navbar navbar-dark bg-dark fixed-top">
            <div class="container-fluid d-flex justify-content-between">
                <div class="logo">
                    <a href="https://ucm.es/">
                        <img src="images/logoUCMVector.svg" title="www.ucm.es" alt="Logo de la UCM" width="75" height="75">
                    </a>
                </div>
                <div class="titulo_y_Subtitulo">
                    <h4><strong>UCM - CAU</strong></h4>
                    <h5><strong>Centro de Atención al Usuario</strong></h5>
                </div>
                
                <div class="perfilUsuario d-flex align-items-center">
                    <span class="nombreUsuario">
                        Felipe Lotas&#8195	
                    </span>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle fotoPerfil" src="images/usuarioAnonimo.png" alt="Foto del Usuario" width="75" height="75"/>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end bg-dark" aria-labelledby="dropdownMenu2">
                            <li>
                                <a class="dropdown-item" href="loginView.html">
                                    Cerrar Sesión&#8195
                                    <span><img src="images/logOutVector.svg" title="Cerrar Sesión" alt="Log-Out" width="25" height="25"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="mt-5">
            prueba de que la navbar vaya bien
        </div>
    </body>
</html>