<!DOCTYPE html>
<html lang="en">
    <body>
        <nav class="row bg-dark fixed">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logoUCM">
                    <a href="https://ucm.es/">
                        <img src="images/logoUCMVector.svg" title="www.ucm.es" alt="Logo de la UCM" width="75" height="75">
                    </a>
                </div>
                <div class="tituloYSubtitulo text-center">
                    <h4><strong>UCM - CAU</strong></h4>
                    <h5><strong>Centro de Atención al Usuario</strong></h5>
                </div>
                <div class="perfilUsuario d-flex align-items-center">
                    <span class="nombreUsuario">
                        <%= correo %>
                    </span>
                    <div class="dropdown ">
                        <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle fotoPerfil" src="images/usuarioAnonimo.png" alt="Foto del Usuario" width="75" height="75"/>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end bg-dark" title="Cerrar Sesión">
                            <li>
                                <a class="dropdown-item" href="./loginView.html">
                                    Cerrar Sesión&#8195	
                                    <span><img src="images/logOutVector.svg" alt="Log-Out" width="25" height="25"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </body>
</html>