    <div class="d-flex justify-content-between ms-5 me-5 mb-2">
    <div class="animacionRadioBtn">
        <input type="radio" name="subtipoAviso" value="Administración Digital" id="opt1" onChange="seleccionSelectSub(this)">
        <label for="opt1" >Administación Digital</label>
    </div>
    <div class="animacionRadioBtn">
        <input type="radio" name="subtipoAviso" value="Comunicaciones" id="opt2" onChange="seleccionSelectSub(this)">
        <label for="opt2">Comunicaciones</label>
    </div>
    <div class="animacionRadioBtn">
        <input type="radio" name="subtipoAviso" value="Conectividad" id="opt3" onChange="seleccionSelectSub(this)">
        <label for="opt3" >Conectividad</label>
    </div>
    <div class="animacionRadioBtn">
        <input type="radio" name="subtipoAviso" value="Docencia" id="opt4" onChange="seleccionSelectSub(this)">
        <label for="opt4">Docencia</label>
    </div>
    <div class="animacionRadioBtn">
        <input type="radio" name="subtipoAviso" value="Web" id="opt5" onChange="seleccionSelectSub(this)">
        <label for="opt5" >Web</label>
    </div>
    </div>