<section id="divNormalModal" style="display:none;"></section>
<div class="selectsModalCurioso" id="divSelectsSugOculto" style="display:none;">
    <h5><strong> Seleccione el tipo de sugerencia:</strong></h5>
    <%- include("selCategoria") %>
</div>

<div class="selectsModalCurioso" id="divSelectsIncOculto" style="display:none;">
    <h5><strong> Seleccione el tipo de incidencia:</strong></h5>
    <%- include("selCategoria") %>
</div>

<div class="selectsModal" id="divSelectsFelOculto" style="display:none;">
    <h5><strong> Seleccione un departamento para felicitar:</strong></h5>
    <div class="perfilAlumno text-center mb-2">
        <select name="categoriaFelicitacion" >
            <option value hidden selected disabled>Seleccione uno...</option>
            <option value="Archivo Universitario">Archivo Universitario</option>
            <option value="Asesor铆a Jur铆dica">Asesor铆a Jur铆dica</option>
            <option value="Biblioteca">Biblioteca</option>
            <option value="Centro de Informaci贸n">Centro de Informaci贸n</option>
            <option value="Departamentos docentes">Departamentos docentes</option>
            <option value="Inspecci贸n de Servicios">Inspecci贸n de Servicios</option>
            <option value="Oficina de Gesti贸n de Infraestructuras y Mantenimiento">Oficina de Gesti贸n de Infraestructuras y Mantenimiento</option>
            <option value="Servicio de Administraci贸n">Servicio de Administraci贸n</option>
            <option value="Servicios Inform谩ticos">Servicios Inform谩ticos</option>
            <option value="Servicio de Documentaci贸n">Servicio de Documentaci贸n</option>
            <option value="Servicio de Imprenta">Servicio de Imprenta</option>
            <option value="Servicio de Cafeter铆a">Servicio de Cafeter铆a</option>
            <option value="Toda la Universidad">Toda la Universidad</option>
        </select> 
    </div>
</div>