body {
    text-align: left;
    font-family: 'Helvetica';
}

.navbar, button, title {
    display: none;
}

.PrincipalBlock h4, .PrincipalBlock h6 {
    font-size: 12px;
    text-align: left;
}

.label {
    display: inline-block;
    align-self: center;
}

.ToDo {
    font-weight: bold;
    align-self: center;
    display: inline-block;
}

.ToDo::after {
    content: "\003A";
}

#TaskDone {
    margin-left: 1em;
}

h1 {
    font-size: 18px;
    text-align: left;
}

#TaskDone h4{
    text-decoration: line-through;
    font-weight: bold;
}

h6:before {
    content: "\0028";
}

h6::after {
    content: "\0029";
}

.Der{
    margin: -1.1em;
}