<!DOCTYPE html>
<html>
  <body>
    <%- include("subplantillas/head") %>
    <%- include("subplantillas/navbar") %>
    <br>
    <br>
    <br>
    <br>    
    <table>
      <tr>
          <th>Correo: </th>
          <td><%= correo %></td>
      </tr>
      <tr>
          <th>Contraseña: </th>
          <td><%= contrasenia %></td>
      </tr>
      <a class="dropdown-item" href="logOut.html"> 
        Cerrar Sesión&#8195	
        <span><img src="images/logOutVector.svg" alt="Log-Out" width="25" height="25"></span>
    </a>
  </table>

  </table>
  </body>
</html>
