<!DOCTYPE html>
<html>
  <body>
    <%- include("subplantillas/head") %>
    <%- include("subplantillas/navbar") %>
    <br>
    <br>
    <br>
    <br>    
    <table>
      <tr>
          <th>Correo: </th>
          <td><%= correo %></td>
      </tr>
      <tr>
          <th>Contraseña: </th>
          <td><%= contrasenia %></td>
      </tr>
  </table>

  </table>
  </body>
</html>
