<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("subplantillas/head") %>
        <link rel="shortcut icon" href="images/AtencionUsuarioIcon.png">
        <!-- Para poder ocultar/mostrar las contraseñas -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <link rel="stylesheet" href="stylesheets/loginView.css" media="screen">
    </head>

    <body>
        <div class="logoLogin">
            <a href="https://ucm.es/">
                <img src="https://ucm.es/themes/ucm16/media/img/logo.png" alt="Logo de la UCM" title="Universidad Complutense de Madrid">
            </a>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="divGeneralLogin">
                <form method="POST" action="procesar_post.html" class="col" title="Formulario de inicio sesión">
                    <div class="containerTextosLogin">
                        <h2 class="mb-3"><strong>Iniciar Sesión</strong></h2>
                        <hr style="width: 85%; margin:auto;">
                        <div class="tituloSubtituloLogin">
                            <h4><strong>UCM - CAU</strong></h4>
                            <h5><strong>Centro de Atención al Usuario</strong></h5>
                        </div>      
                    </div>
    
                    <div class="containerInputs col justify-content-center">
                        <div>
                            <img src="images/emailVector.svg" height="25" width="25" alt="E-mail" title="Simbolo correo">
                            <input type="email" class="loginEmail" required="true" name="correo" autofocus placeholder="Introduzca su Email" title="Correo electrónico"/>
                        </div>
                        <div class="seccionPasswordLogin">
                            <img src="images/contraseniaVector.svg" height="25" width="25" alt="Contraseña" title="Simbolo contraseña">
                            <input type="password" name="contrasenia" class="loginContrasenia" required="true" placeholder="Introduzca su contraseña" title="Contraseña"/>
                            <span class="fa fa-fw fa-eye password-icon show-password" title="Mostrar/Ocultar Contraseña"></soan>
                        </div>

                        <% let mensaje = getandClearFlash(); %>
                        <% if (mensaje) { %>
                            <div class="alert text-center alert-simple alert-danger mt-4" role="alert" data-brk-library="component__alert">
                                <i class="fa fa-exclamation-triangle"></i>
                                <%= mensaje %>
                            </div>
                        <% } %>

                        <div>   
                            <input type="submit" name="Login" value="Entrar" class="loginBoton" title="Inicio de Sesión"/>
                        </div>
                        <div class="preguntaSignIn">
                            <p>¿No estas registrado? <a href="/registerView.html" title="Registro de Usuario">¡Crea tu cuenta!</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>

    <script>
        window.addEventListener("load", function() {
           // icono para mostrar contraseña
           showPassword = document.querySelector('.show-password');
           showPassword.addEventListener('click', () => {
               // elementos input de tipo clave
               contrasenia = document.querySelector('.loginContrasenia');

               if (contrasenia.type === "text") {
                   contrasenia.type = "password"
                   showPassword.classList.remove('fa-eye-slash');
               } else {
                   contrasenia.type = "text"
                   showPassword.classList.toggle("fa-eye-slash");
                }
           })
        });
   </script>

</html>