<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("subplantillas/head") %> 
        <link rel="shortcut icon" href="images/AtencionUsuarioIcon.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
        <link rel="stylesheet" href="stylesheets/registerView.css" media="screen">
    </head>

    <body>
        <div class="logo">
            <a href="https://ucm.es/">
                <img src="https://ucm.es/themes/ucm16/media/img/logo.png" alt="Logo de la UCM" title="Universidad Complutense de Madrid">
            </a>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="divGeneral">
                <!-- enctype="multipart/form-data" -->
                <form method="POST" action="procesar_formulario.html" onsubmit="validate()" enctype="multipart/form-data" class="Formulario col"  title="Formulario de registro">                    <div class="containerTextos">
                        <h2 class="mb-3"><strong>Crear cuenta</strong></h2>
                        <hr style="width: 85%; margin:auto;">
                        <div class="tituloSubtitulo">
                            <h4><strong>UCM - CAU</strong></h4>
                            <h5><strong>Centro de Atención al Usuario</strong></h5>
                        </div>      
                    </div>

                    <div class="containerInputs col justify-content-center">
                        <div>
                            <img src="images/emailVector.svg" height="25" width="25" alt="E-mail" title="Simbolo correo">
                            <input type="email" class="loginEmail" name="correo" required="true" autofocus placeholder="Introduzca su Email" title="Correo electrónico"/>
                        </div>
                        <div class="seccionPassword">
                            <img src="images/contraseniaVector.svg" height="25" width="25" alt="Contraseña" title="Simbolo contraseña">
                            <input type="password" name="contrasenia" id ="password" class="registerContrasenia1" required="true" placeholder="Establezca contraseña" title="Contraseña"/>
                            <span class="fa fa-fw fa-eye password-icon show-password1" title="Mostrar/Ocultar Contraseña"></soan>
                        </div>
                        <div class="seccionPassword">
                            <img src="images/contraseniaVector.svg" height="25" width="25" alt="Contraseña" title="Simbolo contraseña">
                            <input type="password" name="contrasenia2" id ="confirm_password" class="registerContrasenia2" required="true" placeholder="Repita contraseña" title="Confirmar contraseña"/>
                            <span class="fa fa-fw fa-eye password-icon show-password2" title="Mostrar/Ocultar Contraseña"></soan>
                        </div>
                        <div>
                            <img src="images/usuarioVector.svg" height="25" width="25" alt="" title="Nombre de Usuario">
                            <input type="nameUser" name="NombreUsuario" class="loginNombre" required="true" placeholder="Nombre de Usuario"/>
                        </div>
                        <div title="Elija una opción">
                            <img src="images/perfilVector.svg" height="30" width="30" alt="">
                            <select name="opciones" required="true" onChange="seleccionPerfil(this)">
                                <option value="opcion0" hidden selected>Seleccione un perfil...</option>
                                <option value="optAlumn">Alumno</option>
                                <option value="optPAS">Personal de Administración y Servicios (PAS)</option>
                                <option value="optPDI">Personal Docente e Investigador (PDI)</option>
                                <option value="optAntiguoAlumn">Antiguo Alumno</option>
                            </select> 

                            <section id="divNormal" style="display:none;" ></section>
                            <section id="divOculto" style="display:none;">
                                <input type="checkbox" id="checkbox" name="tecnico" value="ON" title="Usuario Técnico" onChange="esTecnico(this)">
                                <label for="checkbox" title="Usuario Técnico"><strong>Técnico&#8195</strong></label>
                                
                                <img src="images/numEmpleadoVector.svg" height="30" width="30" alt="Identificador Técnico" title="Identificador Técnico">
                                <input type="text" name="numEmpleado" id="numTecOculto" class="loginNumEmpleado" required="true" disabled placeholder="Número de empleado" 
                                title="Ej: 1234-xxx"/>
                            </section>

                        </div>
                        
                        <div>
                            <section class="mt-3"><label>Seleccione foto de perfil (<i>.png, .jpg</i>):</label></section>
                            <input type="file" id="foto" name="foto" accept=".png, .jpg" title="Foto de perfil"/>
                        </div>
                        <div>   
                            <input type="submit" value="Registrarse" class="registerBoton" title="Registro de Usuario"/>
                        </div>
                        <div class="preguntaSignIn" >
                            <p>¿Ya tienes una cuenta? <a href="loginView.html" title="Inicio de Sesión">¡Inicia Sesión!</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>

    <script>

    /* function validate(){
        var numerEmployee = document.getElementById('numTecOculto').value;
        var numEmpleadoRGEX = /\d{4}\-[a-z]{3}/;
        var numEmpleadoResult = numEmpleadoRGEX
        .test(numerEmployee);
        alert("Error: formato del numero de empleado, erroneo" );
    } */


        function esTecnico(sel) {
            if (sel.checked) {
                document.getElementById("numTecOculto").disabled = false;
            }
            else {
                document.getElementById("numTecOculto").disabled = true;
            }
        }

        function seleccionPerfil(sel) {
            if (sel.value=="optPAS"){
                divC = document.getElementById("divNormal");
                divC.style.display="none";

                divT = document.getElementById("divOculto");
                divT.style.display = "";
            }
            else{
                divC = document.getElementById("divNormal");
                divC.style.display = "";

                divT = document.getElementById("divOculto");
                divT.style.display = "none";
            }
        }   
        
        window.addEventListener("load", function() {
            // icono para mostrar contraseña
            showPassword1 = document.querySelector('.show-password1');
            showPassword1.addEventListener('click', () => {
                // elementos input de tipo clave
                contrasenia1 = document.querySelector('.registerContrasenia1');

                if (contrasenia1.type === "text") {
                    contrasenia1.type = "password"
                    showPassword1.classList.remove('fa-eye-slash');
                } else {
                    contrasenia1.type = "text"
                    showPassword1.classList.toggle("fa-eye-slash");
                 }
            })
         });

        window.addEventListener("load", function() {
            // icono para mostrar contraseña
            showPassword2 = document.querySelector('.show-password2');
            showPassword2.addEventListener('click', () => {
                // elementos input de tipo clave
                contrasenia2 = document.querySelector('.registerContrasenia2');

                if (contrasenia2.type === "text") {
                    contrasenia2.type = "password"
                    showPassword2.classList.remove('fa-eye-slash');
                } else {
                    contrasenia2.type = "text"
                    showPassword2.classList.toggle("fa-eye-slash");
                }
            })
        });

        //Comprobar que ambas contraseñas sean iguales
        var password = document.getElementById("password");
        var confirm_password = document.getElementById("confirm_password");

        function validatePassword(){
        if(password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Las contraseñas no coinciden");
        } else {
            confirm_password.setCustomValidity('');
        }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>

</html>