<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Centro de Atención al Usuario</title>
        <link rel="shortcut icon" href="./Recursos/AtencionUsuarioIcon.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="./navbar.css" media="screen"> -->
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark fixed">
            <div class="container-fluid d-flex justify-content-between">
                <div class="logo">
                    <a href="https://ucm.es/">
                        <img src="./Recursos/logoUCMVector.svg" alt="Logo de la UCM" width="75" height="75">
                    </a>
                </div>
                <div class="tituloSubtitulo">
                    <h4><strong>UCM - CAU</strong></h4>
                    <h5><strong>Centro de Atención al Usuario</strong></h5>
                </div>
                <div class="fotoUsuario">
                    <img src="./Recursos/usuarioAnonimo.png" alt="Foto del Usuario" width="75" height="75" class="fotoPerfil">
                </div>
            </div>
        </nav>

        <div>
            <p> PRUEBAA de codigo</p>
            <ul>
                <% pepe.forEach(function(user){ %>
                <li><%= user %></li>
                <%  }); %>
            </ul>
            
            
        </div>

    </body>


</html>